<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.snakepitsoftware.stacks.verticalshim</string>
	<key>CFBundleDisplayName</key>
	<string>VerticalShim</string>
	<key>CFBundleName</key>
	<string>VerticalShim</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>RWAddonAuthor</key>
	<string>Snakepit Software</string>
	<key>RWAddonManagerIconAsset</key>
	<string>icon</string>
	<key>RWAddonSupportURL</key>
	<string>https://www.snakepitsoftware.com/support/</string>
	<key>SUFeedURL</key>
	<string>https://www.snakepitsoftware.com/appcast/appcast.php</string>
	<key>minAPIVersion</key>
	<integer>7</integer>
	<key>author</key>
	<string>Snakepit Software</string>
	<key>group</key>
	<string>Snakepit Software</string>
	<key>copyright</key>
	<string>Copyright (©) 2020 Snakepit Software and other project contributors</string>
	<key>title</key>
	<string>VerticalShim</string>
	<key>subtitle</key>
	<string>Adds a bit of vertical space to a page</string>
	<key>icon</key>
	<string>icon</string>
	<key>helpURL</key>
	<string>https://www.snakepitsoftware.com/products/verticalshim/</string>
	<key>infoURL</key>
	<string>https://www.snakepitsoftware.com/products/verticalshim/</string>
	<key>tags</key>
	<array>
		<string>Snakepit Software</string>
		<string>Utility</string>
		<string>Layout</string>
	</array>
	<key>templates</key>
	<array>
		<dict>
			<key>filename</key>
			<string>template.html</string>
			<key>type</key>
			<string>html</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>template.css</string>
			<key>type</key>
			<string>css</string>
		</dict>
	</array>
	<key>assets</key>
	<array/>
	<key>customItems</key>
	<array>
		<dict>
			<key>group</key>
			<string>VerticalShim General Settings</string>
			<key>id</key>
			<string>VS_units</string>
			<key>title</key>
			<string>Units</string>
			<key>type</key>
			<string>select</string>
			<key>default</key>
			<string>%</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>%</string>
					<key>value</key>
					<string>%</string>
				</dict>
				<dict>
					<key>title</key>
					<string>em</string>
					<key>value</key>
					<string>em</string>
				</dict>
				<dict>
					<key>title</key>
					<string>px</string>
					<key>value</key>
					<string>px</string>
				</dict>
				<dict>
					<key>title</key>
					<string>pt</string>
					<key>value</key>
					<string>pt</string>
				</dict>
				<dict>
					<key>title</key>
					<string>pc</string>
					<key>value</key>
					<string>pc</string>
				</dict>
				<dict>
					<key>title</key>
					<string>in</string>
					<key>value</key>
					<string>in</string>
				</dict>
				<dict>
					<key>title</key>
					<string>mm</string>
					<key>value</key>
					<string>mm</string>
				</dict>
				<dict>
					<key>title</key>
					<string>cm</string>
					<key>value</key>
					<string>cm</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>VerticalShim General Settings</string>
			<key>id</key>
			<string>VS_padding</string>
			<key>title</key>
			<string>Padding</string>
			<key>type</key>
			<string>number</string>
			<key>default</key>
			<integer>1</integer>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<string>1</string>
			<key>units</key>
			<string>%</string>
			<key>enable</key>
			<dict>
				<key>id</key>
				<string>VS_units</string>
				<key>value</key>
				<string>%</string>
			</dict>
		</dict>
		<dict>
			<key>group</key>
			<string>VerticalShim General Settings</string>
			<key>id</key>
			<string>VS_padding</string>
			<key>title</key>
			<string>Padding</string>
			<key>type</key>
			<string>number</string>
			<key>default</key>
			<integer>1</integer>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<string>1</string>
			<key>units</key>
			<string>em</string>
			<key>enable</key>
			<dict>
				<key>id</key>
				<string>VS_units</string>
				<key>value</key>
				<string>em</string>
			</dict>
		</dict>
		<dict>
			<key>group</key>
			<string>VerticalShim General Settings</string>
			<key>id</key>
			<string>VS_padding</string>
			<key>title</key>
			<string>Padding</string>
			<key>type</key>
			<string>number</string>
			<key>default</key>
			<integer>1</integer>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<string>1</string>
			<key>units</key>
			<string>px</string>
			<key>enable</key>
			<dict>
				<key>id</key>
				<string>VS_units</string>
				<key>value</key>
				<string>px</string>
			</dict>
		</dict>
		<dict>
			<key>group</key>
			<string>VerticalShim General Settings</string>
			<key>id</key>
			<string>VS_padding</string>
			<key>title</key>
			<string>Padding</string>
			<key>type</key>
			<string>number</string>
			<key>default</key>
			<integer>1</integer>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<string>1</string>
			<key>units</key>
			<string>pt</string>
			<key>enable</key>
			<dict>
				<key>id</key>
				<string>VS_units</string>
				<key>value</key>
				<string>pt</string>
			</dict>
		</dict>
		<dict>
			<key>group</key>
			<string>VerticalShim General Settings</string>
			<key>id</key>
			<string>VS_padding</string>
			<key>title</key>
			<string>Padding</string>
			<key>type</key>
			<string>number</string>
			<key>default</key>
			<integer>1</integer>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<string>1</string>
			<key>units</key>
			<string>pc</string>
			<key>enable</key>
			<dict>
				<key>id</key>
				<string>VS_units</string>
				<key>value</key>
				<string>pc</string>
			</dict>
		</dict>
		<dict>
			<key>group</key>
			<string>VerticalShim General Settings</string>
			<key>id</key>
			<string>VS_padding</string>
			<key>title</key>
			<string>Padding</string>
			<key>type</key>
			<string>number</string>
			<key>default</key>
			<integer>1</integer>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<string>1</string>
			<key>units</key>
			<string>in</string>
			<key>enable</key>
			<dict>
				<key>id</key>
				<string>VS_units</string>
				<key>value</key>
				<string>in</string>
			</dict>
		</dict>
		<dict>
			<key>group</key>
			<string>VerticalShim General Settings</string>
			<key>id</key>
			<string>VS_padding</string>
			<key>title</key>
			<string>Padding</string>
			<key>type</key>
			<string>number</string>
			<key>default</key>
			<integer>1</integer>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<string>1</string>
			<key>units</key>
			<string>mm</string>
			<key>enable</key>
			<dict>
				<key>id</key>
				<string>VS_units</string>
				<key>value</key>
				<string>mm</string>
			</dict>
		</dict>
		<dict>
			<key>group</key>
			<string>VerticalShim General Settings</string>
			<key>id</key>
			<string>VS_padding</string>
			<key>title</key>
			<string>Padding</string>
			<key>type</key>
			<string>number</string>
			<key>default</key>
			<integer>1</integer>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<string>1</string>
			<key>units</key>
			<string>cm</string>
			<key>enable</key>
			<dict>
				<key>id</key>
				<string>VS_units</string>
				<key>value</key>
				<string>cm</string>
			</dict>
		</dict>
		<dict>
			<key>group</key>
			<string>VerticalShim General Settings</string>
			<key>id</key>
			<string>VS_important</string>
			<key>title</key>
			<string>Important</string>
			<key>toolTip</key>
			<string>Mark styling as important</string>
			<key>type</key>
			<string>checkbox</string>
			<key>default</key>
			<false/>
			<key>trueValue</key>
			<string>!important</string>
			<key>falseValue</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
